{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story1</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: left;    
        }
        </style>
</head>
<body>
    <h1>Profil saya </h1>
    <table style="width:100%">
        <tr> 
            <th>Nama</th>
            <td>Gerrad Natanael Daloma</td>
        </tr>
        <tr> 
            <th>NPM</th>
            <td>1906398704</td>
        </tr>
        <tr> 
            <th>Angkatan</th>
            <td>2019</td>
        </tr>
        <tr> 
            <th>Hobi</th>
            <td>
                <p>
                    -Denger musik
                    -Main musik
                    -Main catur
                    -Baca webtoon, manhwa, manhua
                    -Ngoding
                    -Olahraga
                </p>
            </td>
        </tr>
        <tr> 
            <th>Deskripsi</th>
            <td>
                <p>Saya lahir di Jakarta pada tanggal 11 Juni 2001. Saat ini saya tengah mengenyam pendidikan
                    di Universitas Indonesia, pada jurusan Ilmu Komputer.Sejak kecil saya begitu tertarik dengan
                    hal-hal yang mengandung matematika serta logika. Sebelumnya, saya sempat berpikir untuk berkuliah
                    di jurusan matematika, namun entah kenapa ketertarikan saya lebih besar kepada Ilmu Komputer.
                    Saya begitu suka mendengar serta memainkan alat musik, membaca komik, serta olahraga. Satu hal lagi
                    mengenai diri saya, yakni saya begitu menyukai warna hitam dan putih.
                </p>
            </td>
        </tr>
        <tr> 
            <th>Tempat Kuliah</th>
            <td>Universitas Indonesia</td>
        </tr>
        <tr> 
            <th>Foto</th>
            <td>2019</td>
        </tr>
        <tr> 
            <th>Riwayat Pendidikan</th>
            <td>
                <p>
                    -SDN 04 Cilandak Barat
                    -SMPN 85 Jakarta Selatan
                    -SMAN 34 Jakarta Selatan
                </p>
            </td>
        </tr>
        <tr> 
            <th>Media Sosial</th>
            <td>
                <p>
                    -Line = gerradnd
                    -IG = gerrad_nd
                </p>
            </td>
        </tr>
    </table>
<br>
<div>
<a href="{% url 'tugas:home' %}"><b>Story 4</b></a>
</div>
</body>
</html>


