{% extends 'base.html' %}
{% load static %}
	{% block content %}
        <div class="card">
	</br>
	<h1 style="text-align: center; color: #0B3954"><b>Detail Mata Kuliah {{ matkul.mata_kuliah }}</b></h1>
	</br>
	<table style='width: 40%; margin-left: auto; margin-right: auto; text-align: center; border:1px solid black; background-color: #E8EEF2;'>
	    <tr style="border:1px solid black;">
		<th style="border:1px solid black;"><h3> Mata Kuliah</h3></th>
		<td><h3>{{ matkul.mata_kuliah }}</h3></td>
	    </tr>
	    <tr style="border:1px solid black;">
		<th style="border:1px solid black;"><h3> Nama Dosen</h3></th>
		<td><h3>{{ matkul.dosen }}</h3></td>
	    </tr>
            <tr style="border:1px solid black;">
		<th style="border:1px solid black;"><h3> Jumlah SKS</h3></th>
		<td><h3>{{ matkul.jumlah_sks }}</h3></td>
	    </tr>
            <tr style="border:1px solid black;">
		<th style="border:1px solid black;"><h3> Deskripsi Mata Kuliah</h3></th>
		<td><h3>{{ matkul.deskripsi }}</h3></td>
	    </tr>
            <tr style="border:1px solid black;">
		<th style="border:1px solid black;"><h3> Semester</h3></th>
		<td><h3>{{ matkul.semester }}</h3></td>
	    </tr>
            <tr style="border:1px solid black;">
		<th style="border:1px solid black;"><h3> Mata Kuliah</h3></th>
		<td><h3>{{ matkul.ruangan }}</h3></td>
	    </tr>
	</table>
	</br>
        </div>
	{% endblock %}
