{% extends 'base.html' %}
{% load static %}

	{% block content %}
        <div class="card">
            <div class="row">
                <div class="col-sm-6">
                    <img class="card-imagea" src="{% static 'FR26.jpg' %}" style="border-radius: 10%;">
                </div>
                <div class="col-sm-6">
                    <h2 style="margin-top: 10%; font-size: 60px; color: rgb(75, 46, 1)"><b>About Me</b></h2>
                    <p style="font-size: 40px; color: rgb(75, 46, 1)">An energic and active College student from Univerisity of Indonesia, majoring in Computer Science, 
                        who's still learning programming with huge enthusiasm.
                    </p>
                </div>
            </div>
                <div class="row" style="background-color: #F3FFBD;">
                    <div class="col-sm-4">
                        <h2>SKILLS</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{% static 'python.png' %}" class="card-imagea">
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static 'java.png' %}" class="card-imagea">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{% static 'drum.png' %}" class="card-imagea">
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static 'download.png' %}" class="card-imagea">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="text-align: center; font-size: medium;">
                        <h2>EDUCATION</h2>
                            <br>
                            <p>SDN 04 Cilandak Barat</p>
                            <p>SMPN 85 Jakarta</p>
                            <p>SMAN 34 Jakarta</p>
                            <p>Universitas Indonesia</p>
                    </div>
                    <div class="col-sm-4" style="font-size: medium;">
                        <h2>PERSONAL DETAILS</h2>
                            <br>
                            <p><b>Date of Birth</b></p>
                            <p>11th June 2001</p>
                            <p><b>Address</b></p>
                            <p>Depok, Indonesia</p>
                            <p><b>NPM</b></p>
                            <p>1906398704</p>
                    </div>
            </div>
        </div>
	{% endblock %}
