<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
	<header class="header">
        <nav class="navbar navbar-style">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'tugas:home' %}"><b>Home</b></a></li>
                <li><a href="{% url 'tugas:about' %}"><b>About</b></a></li>
                <li><a href="{% url 'tugas:more' %}"><b>More</b></a></li>
		<li><a href="{% url 'story1:story1' %}"><b>story 1</b></a></li>
		<li><a href="{% url 'story5:jadwal' %}"><b>Jadwal</b></a></li>
            </ul>
        </nav>
        </header>
	{% block content %}


	{% endblock %}
</body>
</html>
